
#edit-entity-details, #edit-entity-admin, #edit-entity-hours {
	display: none;
	height: 0;
	opacity: 0
}


#entity-hours table, #entity-delivery-zones table {
	width: 100%
}

#entity-hours table tr td:first-of-type {
	width: 25%
}


.white-container label.quarter {
	position: relative;
	width: 21%
}
.white-container label.quarter:nth-of-type(2n+1) {
	font-size: 12px
}
.white-container label.quarter:nth-of-type(2n) {
	width: 29%
}

.white-container label.quarter>span:not(.select2-container) {
	line-height: 50px
}

.white-container label.quarter>span.select2-container {
	display: inline-block
}

.white-container .rounded-red-button {
	font-size: 16px
}


.disabled-container a {
	background: none;
	color: #d1d1d1;
	cursor: text
}

#delivery-zone-map {
	background: #fff;
	bottom: 20px;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	display: none;
	left: 20px;
	opacity: 0;
	padding: 20px;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 100
}

#delivery-zone-map>a {
	background: #f00;
	border-radius: 20px;
	color: #fff;
	display: block;
	font-size: 32px;
	line-height: 40px;
	position: absolute;
	right: -10px;
	text-align: center;
	text-decoration: none;
	top: -10px;
	width: 40px;
	z-index: 500
}

#delivery-zone-map>div {
	height: 100%
}

#delivery-zone-form {
	width: 287px
}
#delivery-zone-form .half {
	width: 48.5%
}
#delivery-zone-form label, #delivery-zone-form label>span {
	display: block;
	margin: 3px 0 8px
}
#delivery-zone-form .rounded-red-button {
	cursor: pointer;
	padding: 0;
	width: 100%
}

.btn-delete-wrapper {
	text-align: right;
}

.delete-holiday {
	color: #449992;
	text-decoration: none;
	font-size: 14px;
}


#datepicker-container {
	position: relative;
}

#date-open-close {
	margin-top: 10px;
}

#date-open-close select[name=holiday_start] {
	width: 45%;
	float: left;
}

#date-open-close span.select2:nth-of-type(1) {
	float: left;
}
#date-open-close span.select2:nth-of-type(2) {
	float: right;
}

#date-open-close select[name=holiday_end] {
	width: 45%;
	float: right;
}

#datepicker-container.adding:before {
	position: absolute;
	content: '';
	background-color: #ffffff;
	opacity: 0.8;
	
	left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
/* ------------------- */
.ui-datepicker {
	padding: 0;
	width: 100%;
}

.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
	text-transform: uppercase;
}

.ui-datepicker td {
	border: 1px solid #e2e2e2;
}

.ui-datepicker th {
	border: 1px solid #e2e2e2;
	background-color: #e5e5e5;
}

.ui-datepicker td a, .ui-datepicker td span {
	color: #449992;
}

td.ui-datepicker-week-end a {
	color: #ff0000;
} 

a.ui-state-hover {
	background-color: #ffeeee;
}

.ui-icon {
	width: 16px;
    height: 16px;
	text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.ui-widget-header .ui-icon {
	background-image: url( "../i/ui-icons_222222_256x240.png" );
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}
.ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}
/* ----------- end ----------- */

@media only screen and (max-width: 920px) {
	.white-container label.quarter {
		width: 43%
	}
	.white-container label.quarter:nth-of-type(2n) {
		width: 57%
	}
}

@media only screen and (max-width: 768px) {
	#entity-delivery-zones table tr td:nth-of-type(4) {
		display: none
	}
	
	#holiday-list.half {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	#entity-hours table tr td:first-of-type {
		width: 50%
	}
	
	.white-container label.quarter {
		width: 100% !important
	}
	.white-container label.quarter>span:not(.select2-container) {
		line-height: normal;
		margin: 5px 0 -5px
	}
	
	#entity-delivery-zones table tr td:nth-of-type(2) {
		display: none
	}
	
	#delivery-zone-map {
		bottom: 15px;
		left: 15px;
		padding: 15px;
		right: 15px;
		top: 15px
	}
}

@media only screen and (max-width: 380px) {
	.green-button {
		min-width: auto
	}
}

@media only screen and (max-width: 340px) {
	#my-profile-body {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 18px
	}
	
	#delivery-zone-form {
		width: 247px
	}
}
