#restaurant-intro-image {
	background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 426px;
    position: fixed;
    top: 0;
    width: 100%;
}

#restaurant-intro {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNgYGBIAwAAawBn5vZwQgAAAABJRU5ErkJggg==');
    height: 350px;
    margin-top: -76px;
    padding-top: 76px;
	position: relative;
	
	text-align: center;
}

#restaurant-intro h1 {
	font-size: 60px;
	color: #fff;
    font-family: 'VAG Rounded', sans-serif;
	font-weight: normal;
	
	margin: 20px 0 15px;
}

.confirm-check {
	background: url( '../i/icons/confirm-check.png') no-repeat;
	width: 113px;
	height: 113px;
	display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { 
    background: url( '../i/icons/confirm-check@2x.png') no-repeat;
}

#confirmation-body {
	background: #f4f4f4;
	padding: 28px 0 75px;
	position: relative;
}

#confirmation-body div.left {
	width: 70%; /* For Safari's lack of calc() functionality */
	width: -webkit-calc(100% - 330px);
	width: calc(100% - 330px)
}
#confirmation-body div.right {
	padding-top: 20px;
	width: 300px
}

#confirmation-body h1, #confirmation-body h2, #tell-a-friend-body h3, #tell-a-friend-body h4 {
	font-family: 'VAG Rounded', sans-serif;
	margin: 0
}
#confirmation-body h1, #confirmation-body h2 {
	color: #f10202
}
#confirmation-body h1 {
	font-size: 54.17px;
	line-height: 80px
}
#confirmation-body h2 {
	font-size: 27.09px;
	font-weight: lighter;
	line-height: 45px
}

#confirmation-body div.fb-like {
	display: block;
	margin: 9px 0 9px;
	overflow: hidden;
}

#confirmation-body p, #confirmation-body ol {
	line-height: 24px;
	margin: 22px 0;
}

.green {
	color: #007874
}
.red {
	color: #f00
}

#confirmation-body ol {
	margin: -18px 0 14px;
	padding-left: 22px
}

#tell-a-friend-body {
	background: url('../i/tell-a-friend-bg.jpg') no-repeat center top;
	height: 806px;
	padding-top: 61px;
	text-align: center
}

#tell-a-friend-body h3, #tell-a-friend-body h4 {
	font-size: 36px;
	line-height: 52px
}
#tell-a-friend-body h3 {
	color: #f10000
}
#tell-a-friend-body h4 {
	margin-bottom: 28px
}

#tell-a-friend-body textarea, #tell-a-friend-body input {
	display: block;
	margin: 20px auto 0;
}
#tell-a-friend-body textarea {
	width: 30.5%
}
#tell-a-friend-body input {
	width: 33%
}

.pre-header {
	margin: 30px 0;
}

.pre-header span.red {
	display: block;
	text-align: center;
	
	font-size: 16px;
	line-height: 1;
	margin-bottom: 15px;
}

.pre-header span.big {
	display: block;
	text-align: center;
	
	font-size: 30px;
	line-height: 1.3;
}

.order-detail {
	background-color: white;
	padding: 50px;
}

.order-detail .header {
	border-bottom: 1px solid #f5be00;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.order-detail .ordered-from .green {
	display: block; 
}

.order-detail .delivered-to strong,
.order-detail .delivered-to span {
	display: block;	
}

.order-detail .delivered-to em {
	text-transform: uppercase;
	font-style: normal;
}

#confirmation-body h2.order-title {
	margin-bottom: 30px;
	font-size: 24px;
	
	margin-left: 15px;
}

ul.order-items {
	padding: 0;
	margin: 0;
    list-style-type: none;
	
	padding: 15px;
}

ul.order-items > li {
	margin-bottom: 50px;
	position: relative;
	
	font-size: 12px;
	line-height: 1.4;
}

ul.order-items > li .quantity {
	color: #ff0000;
	width: 40px;
	display: inline-block;

	font-size: 16px;
}

ul.order-items > li > span.price {
	position: absolute;
	top: 0;
	right: 15px;
}

div.order-summary {
	background-color: #449992;
	color: #ffffff;
	
	padding: 30px;
}

div.order-summary table {
	width: 100%;
	font-size: 12px;
}

div.order-summary table tr td {
	padding: 5px 0;
}

div.order-summary table tfoot td {
	padding-top: 15px;
}

div.order-summary table tr td:nth-child(2) {
	text-align: right;
}

div.order-summary table tfoot {
	font-size: 30px;
}

ul.order-items > li div.order-item-desc {
	width: calc( 100% - 40px );
	margin-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
}

ul.order-items > li div.order-item-desc ul {
	padding-left: 0 ;
	list-style-type: none;
}

ul.order-items > li div.order-item-desc ul > li {
	padding-top: 5px;
	padding-bottom: 5px;
	
	position: relative;
}

ul.order-items > li div.order-item-desc ul > li:before {
	content: '+';
	color: red;
	margin-right: 10px;
}

.menu-item-option-name {
	display: inline-block;
}

.menu-item-option-name + span.price {
	position: absolute;
	right: -25px;
}

@media only screen and (max-width: 1024px) {
	#confirmation-body, #tell-a-friend-body {
		padding-left: 30px;
		padding-right: 30px
	}

	#confirmation-body .main-content {
		max-width: 100%
	}

	#tell-a-friend-body textarea {
		width: 70.5%
	}

	#tell-a-friend-body input {
		width: 74.5%
	}

	#confirmation-body div.left {
		width: -webkit-calc(100% - 280px);
		width: calc(100% - 280px)
	}

	#confirmation-body div.right {
		width: 280px;
	}
}

@media only screen and (max-width: 768px) {
	#confirmation-body {
		padding-bottom: 45px
	}

	#confirmation-body div.left {
		width: 100%
	}

	#confirmation-body div.right {
		display: none
	}

	#confirmation-body div.left {
		width: 100%;
	}

	#confirmation-body div.right {
		width: 100%;
	}

	.order-detail {
		padding: 25px;
	}

	.fb-like.text-right {
		text-align: left;
	}

	.confirm-check {
		background-size: 100%;
		width: 80px;
		height: 80px;
	}

	#restaurant-intro h1 {
		font-size: 34px;
		margin-top: 60px;
	}
	
	#confirmation-body {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 532px) {
	#confirmation-body h1 {
		font-size: 42px;
		line-height: 60px
	}

	#confirmation-body h2 {
		font-size: 24px;
		line-height: 30px
	}

	#tell-a-friend-body {
		height: 826px;
		padding-top: 41px
	}

	#tell-a-friend-body h3, #tell-a-friend-body h4 {
		font-size: 26px;
		line-height: 36px
	}

	#tell-a-friend-body textarea {
		width: 80.5%
	}

	#tell-a-friend-body input {
		width: 93%
	}
}
/*
@media only screen and (max-width: 314px) {
	#my-account-menu img {
	  display: none
	}
}
*/