
#main-private-menu a {
	text-transform: uppercase
}



#confirm-password-change-restaurant-body {
	background: #f4f4f4 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAE+CAYAAABMTnpFAAAAIUlEQVR42mNgGAWjYBSMglEwCrAAdRAhByKEQAQniGAGAAxIAGSDre+OAAAAAElFTkSuQmCC') repeat-x left top;
	height: 290px;
	padding: 28px 0 0
}

#confirm-password-change-restaurant-body input.rounded-input {
	margin-bottom: 7px
}
#confirm-password-change-restaurant-body label {
	display: inline-block;
	font-weight: normal
}
#confirm-password-change-restaurant-body label.error {
	margin: 0px 0 10px 20px;
	font-size: 13px;
}


#confirm-password-change-restaurant-body div.center, #confirm-password-change-restaurant-body input[type=submit] {
	margin: 0 auto;
	width: 440px
}

#confirm-password-change-restaurant-body form {
	margin: 23px 0 121px
}
#confirm-password-change-restaurant-body input[type=submit] {
	cursor: pointer;
	margin-top: 10px
}



@media only screen and (max-width: 1024px) {
	#confirm-password-change-restaurant-body {
		padding-left: 25px;
		padding-right: 25px
	}
	#confirm-password-change-restaurant-body .main-content {
		max-width: 100%
	}
}

@media only screen and (max-width: 768px) {
	#hero-image strong {
		padding-top: 30px
	}
	
	#confirm-password-change-restaurant-body div.center, #confirm-password-change-restaurant-body input[type=submit] {
		width: 100% !important
	}
}

@media only screen and (max-width: 765px) {
	#hero-image strong {
		font-size: 40px;
		line-height: 46px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 26px
	}
}

@media only screen and (max-width: 635px) {
	#hero-image {
		height: 208px
	}
}

@media only screen and (max-width: 355px) {
	#hero-image strong {
		font-size: 32px;
		line-height: 38px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 22px
	}
}
