
#corporate-join-body {
	background: #f4f4f4;
	padding: 28px 0 75px
}

#corporate-join-body ol {
	list-style-position: inside;
	margin: 0;
	padding: 0
}
#corporate-join-body ol>li {
	font-weight: bold;
	margin: 15px 0 40px
}
#corporate-join-body ol>li.half {
	margin-top: 0
}
#corporate-join-body ol>li.half, #corporate-join-body ol>li>div.half, #email-addresses div.half {
	width: 48%;
}

#corporate-join-body ol>li>span {
	color: #ea0000;
	font-weight: normal
}

#corporate-join-body ol>li>div {
	margin-top: 20px;
	position: relative
}
#corporate-join-body ol>li>div:not(.half) {
	width: 100%
}

#corporate-join-body input.rounded-input {
	margin-bottom: 7px
}
#corporate-join-body label {
	display: inline-block;
	font-weight: normal
}
#corporate-join-body label.error {
	margin: 0px 0px 15px;
	padding-left: 20px;
	font-size: 13px;
}

input[type=checkbox],
.select2.select2-container{
	margin-bottom: 7px;
}

#corporate-join-body ol>li>div.clearfix:not(:first-of-type) {
	margin-top: 0;
}

#email-addresses>a {
	color		: #ea0000;
	display		: block;
	font-weight	: normal;
	text-align	: right;
}

#corporate-join-body .rounded-element {
	display: block;
	padding-left: 28px;
	text-align: left;
	width: -webkit-calc(100% - 28px);
	width: calc(100% - 28px)
}


#corporate-join-body h1 {
	font-size: 36px;
	font-weight: normal;
	margin: 30px 0;
	text-align: center
}

#corporate-join-body div.center, #corporate-join-body input[type=submit] {
	margin: 0 auto;
	width: 625px
}

#corporate-join-body input[type=submit] {
	cursor: pointer;
	margin-top: 10px
}

.intl-tel-input {
	width: 100%;
	margin-bottom: 7px;
}

.intl-tel-input .selected-flag { outline: none; }

.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
	background-color: transparent !important;
}

input[name=phone] {
	width: 100%;
}

@media only screen and (max-width: 1024px) {
	#corporate-join-body {
		padding-left: 25px;
		padding-right: 25px
	}
	#corporate-join-body .main-content {
		max-width: 100%
	}
}

@media only screen and (max-width: 980px) {
	#corporate-join-body ol>li.half, #corporate-join-body ol>li>div.half {
		width: 100%
	}
	#corporate-join-body ol>li>div.half.right {
		margin: 0
	}
	#corporate-join-body div.center, #corporate-join-body input[type=submit] {
		width: 100% !important
	}
}

@media only screen and (max-width: 768px) {
	#hero-image strong {
		padding-top: 30px;
		font-size: 34px;
		line-height: 36px;
	}
	
	#hero-image span {
		margin-top: 40px;
	}
	
	#corporate-join-body {
		padding-bottom: 45px
	}
}

@media only screen and (max-width: 765px) {
	#hero-image strong {
		font-size: 40px;
		line-height: 46px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 26px
	}
}

@media only screen and (max-width: 635px) {
	#hero-image {
		height: 208px
	}
	
	#hero-image span {
		display: none;
	}
	
	#hero-image strong {
		font-size: 24px;
		line-height: 26px;
	}
}

@media only screen and (max-width: 355px) {
	#hero-image strong {
		font-size: 32px;
		line-height: 38px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 22px
	}
}
