#restaurant-gallery-body form div.white-container {
	display: none;
}

.image-previewer {
	position: relative;

	width: 200px;
	height: 200px;

	background-size: contain;
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-position: center;

	-webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);

	display: inline-block;
	margin: 5px;
}

.image-previewer .delete-image {
	position: absolute;
	top: 5px;
	right: 10px;

	text-decoration: none;
	color: #ff0000;
}