#main-private-menu {
	float: none;
	width: 100%;
	background-color: #F4F4F4;
}

#main-private-menu ul {
	text-align: center;
}

#main-private-menu ul > li {
	display: inline-block;
}

#how-it-works-body {
	background: #fef6ef url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAGPCAIAAAASui3CAAAAGUlEQVR42mP48uULwygexaN4FI/iUUwCBgA1X3UhzQeSagAAAABJRU5ErkJggg==') repeat-x;
	padding: 28px 0 75px
}

#how-it-works-body h2, #how-it-works-body h3 {
	font-size: 36px;
	font-weight: normal
}
#how-it-works-body h2 {
	margin: 40px 0 45px
}

#intro-text {
	width: 80%
}
#how-it-works-body p {
	color: #585a58;
	line-height: 24px
}
#intro-text a.rounded-red-button {
	margin: 30px 0 0;
	width: 70%
}

#how-it-works-body h3 {
	margin: 110px 0 0
}

div.left.third {
	margin: 34px 3% 0;
	width: 27%
}

div.left.third>strong {
	display: block;
	margin: 40px 0 45px
}

#main-private-menu a:hover,
#main-private-menu a.selected {
	color: #449992;
}

#main-private-menu a {
	color: #000000;
}

@media only screen and (max-width: 1024px) {
	#how-it-works-body {
		padding-left: 30px;
		padding-right: 30px
	}
	#how-it-works-body .main-content {
		max-width: 100%
	}
}

@media only screen and (max-width: 840px) {
	#intro-text {
		width: 90%
	}
	#how-it-works-body h2, #how-it-works-body h3 {
		font-size: 34px
	}
	#how-it-works-body h2 {
		margin: 25px 0 30px
	}
	div.left.third {
		margin-left: 0;
		margin-right: 0;
		width: 100%
	}
}

@media only screen and (max-width: 768px) {
	#hero-image strong {
		padding-top: 30px
	}
	
	#how-it-works-body {
		padding-bottom: 45px
	}
}

@media only screen and (max-width: 765px) {
	#hero-image strong {
		font-size: 40px;
		line-height: 46px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 26px
	}
}

@media only screen and (max-width: 635px) {
	#hero-image {
		height: 208px
	}
	#intro-text {
		width: 95%
	}
	#how-it-works-body h2, #how-it-works-body h3 {
		font-size: 32px
	}
	#intro-text a.rounded-red-button {
		margin-top: 20px
	}
	#how-it-works-body h3 {
		margin-top: 80px
	}
}

@media only screen and (max-width: 355px) {
	#hero-image strong {
		font-size: 32px;
		line-height: 38px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 22px
	}
	#intro-text {
		width: 100%
	}
	#how-it-works-body h2, #how-it-works-body h3 {
		font-size: 28px
	}
	#how-it-works-body h2 {
		margin: 15px 0 20px
	}
	#intro-text a.rounded-red-button {
		margin-top: 15px
	}
	#how-it-works-body h3 {
		margin-top: 50px
	}
}
