#main-private-menu {
	float: none;
	width: 100%;
	background-color: #F4F4F4;
}

#main-private-menu ul {
	text-align: center;
}

#main-private-menu ul > li {
	display: inline-block;
}

#how-we-help-body {
	background: #fef6ef url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAkaCAYAAADjnHMCAAAAOUlEQVR42u3XwQ0AMAwCMdT9x82fZo1IvodXQGRm+rIBAIBjtI0kSbrYrrgvDgAAAAAAAAAAAABX+aG4Geuuk782AAAAAElFTkSuQmCC') repeat-x;
	padding: 28px 0 75px
}

#how-we-help-body h2, #how-we-help-body h3, #how-we-help-body h4, #how-we-help-body h5 {
	font-size: 36px;
	font-weight: normal
}
#how-we-help-body h2 {
	margin: 40px 0 45px
}

#intro-text {
	margin-bottom: 134px;
	width: 80%
}
#how-we-help-body p {
	color: #585a58;
	margin: 40px 0
}
#how-we-help-body p, #how-we-help-body li {
	line-height: 24px
}
#intro-text a.rounded-red-button {
	margin: 4px 0 0
}
div.centered a.rounded-red-button {
	width: 70%
}

#how-we-help-body h3 {
	margin: 110px 0 45px
}

#how-we-help-body h4 {
	margin: 60px 0 44px
}

#how-we-help-body ol {
	color: #585a58;
	letter-spacing: .3px;
	padding-left: 22px
}
#how-we-help-body ol strong {
	color: #000
}
#how-we-help-body ol ul li {
	margin: 8px 0
}
#how-we-help-body ol ul, #how-we-help-body ol p {
	margin: 12px 0 45px
}

#how-we-help-body h5 {
	margin: 120px 0 50px;
	white-space: nowrap
}

#main-private-menu a:hover,
#main-private-menu a.selected {
	color: #449992;
}

#main-private-menu a {
	color: #000000;
}

@media only screen and (max-width: 1024px) {
	#how-we-help-body {
		padding-left: 30px;
		padding-right: 30px
	}
	#how-we-help-body .main-content {
		max-width: 100%
	}
	#how-we-help-body h5 {
		margin-top: 125px
	}
}

@media only screen and (max-width: 840px) {
	#intro-text {
		width: 100%
	}
	#how-we-help-body h5 {
		margin-top: 85px;
		white-space: normal
	}
}

@media only screen and (max-width: 768px) {
	#hero-image strong {
		padding-top: 30px
	}
	
	#how-we-help-body {
		padding-bottom: 45px
	}
	#intro-text {
		margin-bottom: 90px
	}
	#how-we-help-body h2, #how-we-help-body h3, #how-we-help-body h4, #how-we-help-body h5 {
		font-size: 32px
	}
	#how-we-help-body h4 {
		margin: 45px 0 30px
	}
}

@media only screen and (max-width: 765px) {
	#hero-image strong {
		font-size: 40px;
		line-height: 46px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 26px
	}
}

@media only screen and (max-width: 635px) {
	#hero-image {
		height: 208px
	}
	
	#how-we-help-body h2 {
		margin: 20px 0 30px
	}
	#how-we-help-body p {
		margin: 35px 0
	}
	#how-we-help-body h3 {
		margin: 100px 0 30px
	}
}

@media only screen and (max-width: 414px) {
	#hero-image strong {
		font-size: 36px;
		line-height: 42px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 24px
	}
	
	#intro-text {
		margin-bottom: 80px
	}
	#how-we-help-body h2, #how-we-help-body h3, #how-we-help-body h4, #how-we-help-body h5 {
		font-size: 30px
	}
	#how-we-help-body h2 {
		margin: 15px 0 30px
	}
	#how-we-help-body p {
		letter-spacing: 0;
		margin: 20px 0
	}
	#how-we-help-body p, #how-we-help-body li {
		line-height: 20px
	}
	#how-we-help-body h3 {
		margin: 70px 0 10px
	}
	
	#how-we-help-body h4 {
		margin: 45px 0 25px
	}
	#how-we-help-body ol ul li {
		margin: 0
	}
	#how-we-help-body ol ul, #how-we-help-body ol p {
		margin: 5px 0 20px
	}
}

@media only screen and (max-width: 375px) {
	#hero-image strong {
		font-size: 32px;
		line-height: 38px;
	}
	#hero-image span {
		font-size: 16px;
		line-height: 22px
	}
	
	#how-we-help-body h2, #how-we-help-body h3, #how-we-help-body h4, #how-we-help-body h5 {
		font-size: 28px
	}
	#how-we-help-body h2 {
		margin: 10px 0 20px
	}
	#how-we-help-body p {
		margin: 15px 0
	}
	#how-we-help-body p, #how-we-help-body li {
		line-height: 18px
	}
	#how-we-help-body h3 {
		margin: 70px 0 10px
	}
	
	#how-we-help-body h4 {
		margin: 40px 0 20px
	}
}

@media only screen and (max-width: 320px) {
	#intro-text {
		margin-bottom: 40px
	}
	#how-we-help-body h2, #how-we-help-body h3, #how-we-help-body h4, #how-we-help-body h5 {
		font-size: 26px
	}
	#how-we-help-body h2 {
		margin: 5px 0 20px
	}
	#how-we-help-body p {
		margin: 10px 0
	}
	#how-we-help-body h3 {
		margin: 55px 0 10px
	}
	
	#how-we-help-body h4 {
		margin: 25px 0 10px
	}
	#how-we-help-body h5 {
		margin: 40px 0 30px
	}
}
