#main-private-menu a {
	text-transform: uppercase
}

#login-restaurant-body {
	background: #f4f4f4 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAE+CAYAAABMTnpFAAAAIUlEQVR42mNgGAWjYBSMglEwCrAAdRAhByKEQAQniGAGAAxIAGSDre+OAAAAAElFTkSuQmCC') repeat-x left top;
	padding: 28px 0 42px;
	background-position-y: 80px;
}

#login-restaurant-body input.rounded-input {
	margin-bottom: 7px
}
#login-restaurant-body label {
	display: inline-block;
	font-weight: normal
}
#login-restaurant-body label.error {
	margin: 0px 0 10px 20px;
	font-size: 13px;
}

#login-restaurant-body div.center, #login-restaurant-body input[type=submit] {
	margin: 0 auto;
	width: 440px
}

#login-restaurant-body form {
	margin: 23px 0 121px
}
#login-restaurant-body form a {
	color: #449992;
	display: block;
	margin: 3px 0 33px;
	text-align: right;
	text-decoration: none
}
#login-restaurant-body input[type=submit] {
	cursor: pointer;
	margin-top: 10px
}

#login-restaurant-body ul.centered {
	list-style: none;
	padding: 0
}
#login-restaurant-body ul.centered li {
	line-height: 20px;
	margin: 32px 0
}
#login-restaurant-body ul.centered strong {
	display: block
}

@media only screen and (max-width: 1024px) {
	#login-restaurant-body {
		padding-left: 25px;
		padding-right: 25px
	}
	#login-restaurant-body .main-content {
		max-width: 100%
	}
}

@media only screen and (max-width: 768px) {
	#hero-image strong {
		padding-top: 30px
	}
	
	#login-restaurant-body {
		padding-bottom: 45px
	}
	#login-restaurant-body div.center, #login-restaurant-body input[type=submit] {
		width: 100% !important
	}
}

@media only screen and (max-width: 765px) {
	#hero-image strong {
		font-size: 34px;
		line-height: 36px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 26px
	}
}

@media only screen and (max-width: 635px) {
	#hero-image {
		height: 208px
	}
	
	#hero-image strong {
		font-size: 24px;
		line-height: 26px;
	}
}

@media only screen and (max-width: 355px) {
	#hero-image strong {
		font-size: 32px;
		line-height: 38px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 22px
	}
}
