
.white-container .rounded-select .select2-selection--single {
	font-size: 14px
}

.white-container .rounded-element {
	display: block;
	font-size: 14px
}
.white-container #selected-photo, .white-container input[type=file] {
	display: none
}

.white-container #selected-photo {
	line-height: 50px;
	overflow: hidden;
	padding: 0 20px;
	position: relative
}
.white-container #selected-photo a {
	background: #fff;
	color: #f00;
	font-size: 24px;
	font-weight: normal;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 0;
	width: 34px
}

.white-container .rounded-textarea {
	height: 77px
}

.white-container .food-types {
	margin: -5px 0
}

.white-container label.quarter {
	width: 24%
}
.white-container label.quarter.right {
	margin-left: 1.25%
}

.white-container label.quarter>a {
	background: transparent;
	display: block;
	line-height: 22px;
	margin: 0;
	padding: 14px 0
}
.white-container label.quarter>a.selected {
	background-color: #e1e1e1 !important
}
.white-container label.quarter>a:hover {
	background-color: #f4f4f4
}

a .food-type {
	display: inline-block !important;
	line-height: 16px;
	margin: 0;
	padding-left: 24px;
	width: auto
}

.white-container label.quarter input[type=checkbox] {
	display: none
}

.white-container input[type=submit], .white-container input[type=button] {
	width: 100%
}
.white-container input[type=button] {
	display: none
}



.white-container h2, .menu-items strong {
	display: inline-block;
	vertical-align: middle
}
.white-container h2, .menu-items strong, .menu-items p {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%
}
.white-container h2 {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAYAAAAVMmT4AAAAZ0lEQVR42mNgQAPfZRhcgLj8uyyDEgM+AFSQBlT4H0iD8Dsg2xi7QhmgQpAiGYa7YJMhmt59Q9cANhGi8B2QBkt+gzgFpAGkWRBVIUSxMZohM6HiZ4C0IAPUyt1AHIrDeR1geVkGFwAoVD4PTTYZ9AAAAABJRU5ErkJggg==') no-repeat right center;
	color: #e40000;
	cursor: pointer;
	font-family: 'VAG Rounded', sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding: 30px 0 26px;
	width: -webkit-calc(100% - 19px);
	width: calc(100% - 19px)	
}
.white-container .menu-item-category:first-of-type h2 {
	margin-top: -30px
}
.white-container .menu-item-category:first-of-type>span.drag-icon {
	margin-top: -27px
}
.white-container h2.closed {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAYAAAAVMmT4AAAAaklEQVR42mP4Lsvg8l2GYTcQdzBgAUDxUKh8OQNQsSCQcQZI/wfimWgKjaHiIJwGExQEcu6CBL+BTACJyQIVyjC8Q1EIA98gprwDKvgPshKIwZqBdBoDDvdBNEAUYZqIoUGWQQlqsgu6HAB8zz4P7q8T7wAAAABJRU5ErkJggg==');
	border-bottom: #f4f4f4 1px solid
}
.white-container .menu-item-category:last-of-type h2.closed {
	border: none
}

.white-container .menu-item-category>span.drag-icon {
	margin-top: 3px
}

.white-container ul {
	list-style: none;
	margin: 0 -30px;
	overflow: hidden;
	padding: 0
}

.white-container li {
	background: #f4f4f4;
	border-top: #d1d1d1 1px solid;
	font-size: 13px;
	padding: 22px 30px 18px
}
.white-container ul li:first-of-type {
	border: none
}
.white-container .menu-item-category:last-of-type ul {
	margin-bottom: -30px
}

.menu-items li>div {
	max-width: -webkit-calc(100% - 150px);
	max-width: calc(100% - 150px); 
	vertical-align: text-top;
	white-space: nowrap
}
.menu-items li>div:first-of-type {
	max-width: 100%
}

.menu-items img {
	background: #fff url('../i/icons/no-menu-item.png') no-repeat center;
	border-radius: 34px;
	background-size: contain;
	height: 68px;
	margin-right: 24px;
	width: 68px
}

.menu-items strong.name, .menu-items div.right {
	font-size: 14px
}
.menu-items p {
	margin: 4px 0
}

.menu-items div.right {
	text-align: right;
	width: 58px
}

.menu-items .actions {
	background: url('../i/icons/menu-item-actions.png');
	cursor: pointer;
	display: inline-block;
	height: 19px;
	margin-top: 5px;
	width: 19px
}
.menu-items .actions.edit {
	background-position: 0 0
}
.menu-items .actions.delete {
	background-position: 0 -19px
}
.menu-items .actions.enabled {
	background-position: 0 -57px
}
.menu-items li.disabled .actions.enabled {
	background-position: 0 -38px
}

.menu-items li.disabled {
	opacity: .5
}



@media only screen and (max-width: 768px) {
	.white-container .food-types {
		margin-top: 0
	}
}
@media only screen and (max-width: 768px) {
	.white-container label.quarter {
		margin-left: 0 !important;
		width: 49%
	}
	.white-container .food-types label.quarter:nth-of-type(2n+1) {
		float: left !important
	}
}
@media only screen and (max-width: 430px) {
	.white-container div.half label.half, .white-container label.quarter {
		float: none;
		width: 100%
	}
}
