
.white-container input[type=submit], .white-container input[type=button] {
	width: 100%
}
.white-container input[type=button] {
	display: none
}



#menu-categories {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0
}

#menu-categories li {
	background: #f4f4f4;
	border-top: #d1d1d1 1px solid;
	font-size: 13px;
	padding: 22px 30px 13px
}
#menu-categories li:first-of-type {
	border: none
}

#menu-categories li>div {
	max-width: -webkit-calc(100% - 20px);
	max-width: calc(100% - 20px); 
	vertical-align: text-top
}

#menu-categories strong {
	display: inline-block;
	vertical-align: middle
}
#menu-categories strong.name, #menu-categories div.right {
	font-size: 14px
}

#menu-categories div.right {
	text-align: right;
	width: 20px
}

#menu-categories .actions {
	background: url('../i/icons/menu-item-actions.png');
	cursor: pointer;
	display: inline-block;
	height: 19px;
	margin-bottom: 5px;
	width: 19px
}
#menu-categories .actions.edit {
	background-position: 0 0
}
#menu-categories .actions.delete {
	background-position: 0 -19px
}
#menu-categories .actions.delete.disabled {
	background-position: 0 -76px;
	cursor: default
}
