
.white-container .rounded-select .select2-selection--single {
	font-size: 14px
}

#new-menu-item-option {
	height: 0;
	overflow: hidden
}
#new-menu-item-option input, #new-menu-item-option a {
	margin-top: 8px
}

.white-container a.rounded-red-button {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center
}
.white-container a.disabled.rounded-red-button {
	display: none
}

.white-container input[type=submit] {
	width: 100%
}
.white-container input[type=button] {
	display: none
}



#menu-option-groups {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0
}

#menu-option-groups li {
	background: #f4f4f4;
	border-top: #d1d1d1 1px solid;
	font-size: 13px;
	padding: 22px 30px 13px
}
#menu-option-groups li:first-of-type {
	border: none
}

#menu-option-groups li>div {
	max-width: -webkit-calc(100% - 20px);
	max-width: calc(100% - 20px); 
	vertical-align: text-top
}

#menu-option-groups strong {
	display: inline-block;
	vertical-align: middle
}
#menu-option-groups strong.name, #menu-option-groups div.right {
	font-size: 14px
}

#menu-option-groups div.right {
	text-align: right;
	width: 20px
}

#menu-option-groups .actions {
	background: url('../i/icons/menu-item-actions.png');
	cursor: pointer;
	display: inline-block;
	height: 19px;
	margin-bottom: 5px;
	width: 19px
}
#menu-option-groups .actions.edit {
	background-position: 0 0
}
#menu-option-groups .actions.delete {
	background-position: 0 -19px
}
#menu-option-groups .actions.delete.disabled {
	background-position: 0 -76px;
	cursor: default
}
