
#my-addresses-body .rounded-red-button {
	text-align: center;
	margin-bottom: 15px;
}

#add-address {
	display: none;
	height: 0;
	opacity: 0
}



.white-container {
    /*text-transform: uppercase*/
}
