
#my-ccs-body .rounded-red-button {
	text-align: center;
	margin-bottom: 15px;
}

#add-cc {
	display: none;
	height: 0;
	opacity: 0
}


.white-container label {
	white-space: nowrap
}
.white-container label span {
	font-size: 11px
}

.white-container .rounded-select {
	width: 100% !important
}
.white-container label.quarter {
	width: 24%
}
.white-container label.quarter .rounded-select, .white-container label.quarter .rounded-input {
	width: 50% !important
}
