#results-list ul {
	padding-left: 0;
	margin-left: 20px;
	
	list-style-type: none;
}

#results-list ul li {
	margin-bottom: 15px;
	font-weight: bold;
}

#results-list ul li a {
	text-decoration: none;
	color: #449992;
}

#results-list ul li a:hover {
	color: #ff0000;
}