
#edit-entity-name, 
#edit-entity-email, 
#edit-entity-password,
#edit-entity-phone {
	display: none;
	height: 0;
	opacity: 0
}

input[name=phone] {
	width: 100%;
}

.white-container label .intl-tel-input span {
	display: inline-block;
}

@media only screen and (max-width: 380px) {
	.green-button {
		min-width: auto
	}
}

.white-container {
	overflow: visible;
}