
#orders-history-body strong.title {
	margin-bottom: 8px
}

.white-container {
	font-size: 12px;
	line-height: 20px;
	margin: 0;	
	padding: 0 30px;
	width: 100%
}

#orders-history-body td {
	border-top: #e3e3e3 1px solid;
	padding: 30px 0
}
#orders-history-body tbody tr:first-of-type td {
	border: none
}

#orders-history-body tbody td {
	vertical-align: top
}

#orders-history-body tr td:first-of-type {
	color: #999;
	font-size: 14px;
	font-weight: bold
}

#orders-history-body a {
	color: #3a6bbd
}

#orders-history-body tr td:last-of-type {
	color: #888;
	text-align: right;
	text-transform: uppercase
}
.red {
	color: #f00 !important
}

#orders-history-body table table {
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
	width: 100%
}

table.order-row {
	font-weight: normal
}

table.order-row th, table.order-row th span {
	font-size: 18px !important
}
table.order-row th {
	background: transparent !important;
	color: #000 !important;
	display: table-cell !important;
	height: auto !important;
	margin: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center !important;
	text-transform: none
}
table.order-row thead tr {
	background: #fff6a4
}
table.order-row thead tr:nth-of-type(2) {
	background: #fff37a
}

table.order-row th, table.order-row tfoot td {
	border-bottom: #fff 2px solid !important;
	border-top: #fff 1px solid !important
}

table.order-row tbody td, table.order-row tfoot td {
	color: #000 !important;
	cursor: default !important;
	font-size: 12px !important;
	padding: 0 !important;
	text-align: left !important;
	text-transform: none !important
}
table.order-row tbody td {
	border: none !important;
	padding: 10px 0 !important
}

table.order-row tbody tr td:first-of-type {
	color: #f00 !important;
	font-size: 18px !important;
	font-weight: bold;
	padding-left: 50px !important;
	width: 30px
}

table.order-row tbody td[rowspan] {
	width: 275px
}

table.order-row ul {
	list-style: none;
	margin: 0;
	padding: 0
}
table.order-row ul.order-items {
	list-style: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAIAAABvrngfAAAAOklEQVR42mP4DwEXL/7PzoYwGbAJ7dgB4kRE/FdTAzGysxn+v3wJUrJqFUgUyLh4kQG3WUC1QBPAAABK8FwRc1EGmgAAAABJRU5ErkJggg==');
	list-style-position: inside
}

table.order-row tfoot td {
	background: #ebe9e4;
	padding: 5px 0 4px !important
}
table.order-row tfoot tr:last-of-type td {
	color: #f00 !important
}
