
#privacy-policy-body {
	background: #f4f4f4;
	padding: 28px 0 75px
}

#privacy-policy-body h2 {
	font-size: 36px;
	font-weight: normal;
	margin: 40px 0 45px
}

#privacy-policy-body p {
	color: #585a58;
	letter-spacing: .15px;
	margin: 40px 0
}
#privacy-policy-body p, #privacy-policy-body li {
	line-height: 24px
}



@media only screen and (max-width: 1024px) {
	#privacy-policy-body {
		padding-left: 30px;
		padding-right: 30px
	}
	#privacy-policy-body .main-content {
		max-width: 100%
	}
}

@media only screen and (max-width: 768px) {
	#hero-image strong {
		padding-top: 30px
	}
	
	#privacy-policy-body {
		padding-bottom: 45px
	}
	#privacy-policy-body h2 {
		font-size: 32px
	}
}

@media only screen and (max-width: 765px) {
	#hero-image strong {
		font-size: 40px;
		line-height: 46px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 26px
	}
}

@media only screen and (max-width: 635px) {
	#hero-image {
		height: 208px
	}
	
	#privacy-policy-body h2 {
		margin: 20px 0 30px
	}
	#privacy-policy-body p {
		margin: 35px 0
	}
}

@media only screen and (max-width: 414px) {
	#hero-image strong {
		font-size: 36px;
		line-height: 42px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 24px
	}
	
	#privacy-policy-body h2 {
		font-size: 30px;
		margin: 15px 0 30px
	}
	#privacy-policy-body p {
		letter-spacing: 0;
		margin: 20px 0
	}
	#privacy-policy-body p, #privacy-policy-body li {
		line-height: 20px
	}
}

@media only screen and (max-width: 375px) {
	#hero-image strong {
		font-size: 32px;
		line-height: 38px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 22px
	}
	
	#privacy-policy-body h2 {
		font-size: 28px;
		margin: 10px 0 20px
	}
	#privacy-policy-body p {
		margin: 15px 0
	}
	#privacy-policy-body p, #privacy-policy-body li {
		line-height: 18px
	}
}

@media only screen and (max-width: 320px) {
	#privacy-policy-body h2 {
		font-size: 26px;
		margin: 5px 0 20px
	}
	#privacy-policy-body p {
		margin: 10px 0
	}
}
