
#sales-summary {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	margin-bottom: 13px
}

#sales-summary th, #sales-summary td {
	background: transparent !important;
	border: none !important;
	height: auto !important;
	text-align: center !important
}
#sales-summary th:first-of-type, #sales-summary td:first-of-type {
	text-align: left !important
}
#sales-summary td {
	color: #999 !important;
	cursor: default !important;
	font-size: 16px !important;
	padding: 0 0 10px !important
}

#sales-summary-mobile {
	display: none;
	padding: 0 !important
}
#sales-summary-mobile th {
	border: none !important;
	display: table-cell !important;
	height: auto !important;
	padding-top: 15px !important;
	text-align: center !important
}
#sales-summary-mobile select {
	background: transparent;
	border: none;
	font-size: 16px;
	font-weight: bold;
	padding: 8px
}
#sales-summary-mobile tbody td {
	border: none !important;
	padding-bottom: 0 !important;
	padding-top: 10px !important
}
#sales-summary-mobile tbody tr:first-of-type td {
	padding-top: 20px !important
}
#sales-summary-mobile tbody tr td:nth-of-type(1) {
	font-size: 12px;
	font-weight: bold;
	padding-left: 30px
}
#sales-summary-mobile tbody tr td:nth-of-type(2), #sales-summary-mobile tfoot td {
	color: #999;
	font-size: 16px;
	padding-right: 30px
}
#sales-summary-mobile tfoot td {
	border: none;
	padding: 10px 30px 20px;
	text-align: left !important
}



#restaurant-sub-menu {
	background: #fff;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1
}
#restaurant-sub-menu li {
	display: inline-block	
}
#restaurant-sub-menu a {
	color: #449992 !important;
	display: block;
	font-size: 16px;
	padding: 24px 30px;
	text-decoration: none
}
#restaurant-sub-menu a.current {
	color: #ff0013 !important;
	font-weight: bold
}

#restaurant-orders-body table {
	background: #fff;
	-webkit-box-shadow: 0 0 14px 1px #ccc;
	box-shadow: 0 0 14px 1px #ccc;
	color: #333;
	font-size: 12px;
	line-height: 20px;
	padding: 0 30px;
	width: 100%
}

#restaurant-orders-body th {
	background: #f1f1f1;
	border-bottom: #e5e5e5 8px solid;
	color: #444;
	font-size: 12px;
	height: 41px;
	padding: 10px 0;
	text-align: left;
	vertical-align: top;
	white-space: nowrap
}
#restaurant-orders-body thead th:first-of-type {
	display: block;
	margin-left: -30px;
	padding-left: 30px
}
#restaurant-orders-body thead th:last-of-type {
	display: block;
	margin-right: -30px;
	padding-right: 30px
}
#restaurant-orders-body th span {
	font-size: 10px
}

#restaurant-orders-body td {
	border-bottom: #e5e5e5 4px solid;
	color: #444;
	cursor: pointer;
	font-size: 14px;
	padding: 30px 0;
	vertical-align: top
}
#restaurant-orders-body tbody tr:last-of-type td {
	border: none
}

#restaurant-orders-body td a.accept, #restaurant-orders-body td a.decline {
	font-weight: bold;
	text-decoration: none
}
#restaurant-orders-body td a.accept {
	color: #a1ccc8
}
#restaurant-orders-body td a.decline {
	color: #ee7f7f
}

#restaurant-orders-body td span {
	color: #888;
	font-size: 12px
}
#restaurant-orders-body td span.status {
	/*background: #cbcca1;*/
	border-radius: 19px;
	color: #fff;
	display: block;
	font-size: 14px;
	line-height: 37px;
	text-align: center;
	text-transform: uppercase;
	width: 148px
}
#restaurant-orders-body td span.status.accepted {
	background: #a1ccc8
}
#restaurant-orders-body td span.status.declined {
	background: #ee7f7f
}

#restaurant-orders-body a {
	color: #3a6bbd
}

#restaurant-orders-body tr td:last-of-type {
	color: #888;
	text-align: right;
	text-transform: uppercase
}

.red {
	color: #f00 !important
}

#restaurant-orders-body table table {
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0
}

table.order-row th, table.order-row th span {
	font-size: 18px !important
}
table.order-row th {
	background: transparent !important;
	color: #000 !important;
	display: table-cell !important;
	height: auto !important;
	margin: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center !important;
	text-transform: none
}
table.order-row thead tr {
	background: #fff6a4
}
table.order-row thead tr:nth-of-type(2) {
	background: #fff37a
}

table.order-row th, table.order-row tfoot td {
	border-bottom: #fff 2px solid !important;
	border-top: #fff 1px solid !important
}

table.order-row tbody td, table.order-row tfoot td {
	color: #000 !important;
	cursor: default !important;
	font-size: 12px !important;
	padding: 0 !important;
	text-align: left !important;
	text-transform: none !important
}
table.order-row tbody td {
	border: none !important;
	padding: 10px 0 !important
}

table.order-row tbody tr td:first-of-type {
	color: #f00 !important;
	font-size: 18px !important;
	font-weight: bold;
	padding-left: 50px !important;
	width: 30px
}

table.order-row tbody td[rowspan] {
	width: 275px
}

table.order-row ul {
	list-style: none;
	margin: 0;
	padding: 0
}
table.order-row ul.order-items {
	list-style: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAIAAABvrngfAAAAOklEQVR42mP4DwEXL/7PzoYwGbAJ7dgB4kRE/FdTAzGysxn+v3wJUrJqFUgUyLh4kQG3WUC1QBPAAABK8FwRc1EGmgAAAABJRU5ErkJggg==');
    list-style-position: inside
}

table.order-row tfoot td {
	background: #ebe9e4;
	padding: 5px 0 4px !important
}
table.order-row tfoot tr:last-of-type td {
	color: #f00 !important
}



@media only screen and (max-width: 660px) {
	#orders-list thead, #orders-list tr td:nth-of-type(1), #orders-list tr td:nth-of-type(3), #orders-list tr td:nth-of-type(5) {
		display: none
	}
	#orders-list tr.order-row td {
		display: table-cell
	}
}

@media only screen and (max-width: 550px) {
	#sales-summary {
		display: none
	}
	#sales-summary-mobile {
		display: table
	}
}

@media only screen and (max-width: 510px) {
	#restaurant-sub-menu {
		background: transparent;
		margin: 20px 0 8px
	}
	#restaurant-sub-menu li {
		display: block
	}
	#restaurant-sub-menu a {
		padding: 4px 0 16px 30px
	}
}
