#main-private-menu {
	float: none;
	width: 100%;
	background-color: #F4F4F4;
}

#main-private-menu ul {
	text-align: center;
}

#main-private-menu ul > li {
	display: inline-block;
}

#restaurant-join-body {
	background: #f4f4f4;
	padding: 28px 0 75px
}

#restaurant-join-body ol {
	list-style-position: inside;
	margin: 0;
	padding: 0
}
#restaurant-join-body ol>li {
	font-weight: bold;
	margin: 15px 0 40px
}
#restaurant-join-body ol>li.half {
	margin-top: 0
}
#restaurant-join-body ol>li.half, #restaurant-join-body ol>li>div.half {
	width: 48%	
}

#restaurant-join-body ol>li>span {
	color: #ea0000;
	font-weight: normal
}

#restaurant-join-body ol>li>div {
	margin-top: 20px;
	position: relative
}
#restaurant-join-body ol>li>div:not(.half) {
	width: 100%
}

#restaurant-join-body input.rounded-input {
	margin-bottom: 7px
}
#restaurant-join-body label {
	display: inline-block;
	font-weight: normal
}
#restaurant-join-body label.error {
	margin: 0px 0px 15px;
	padding-left: 20px;
	font-size: 13px;
}

input[type=checkbox],
.select2.select2-container{
	margin-bottom: 7px;
}

#restaurant-join-body textarea {
	height: 100px
}

#cuisines-list label.error, #restaurant-join-body div.time label.error, #choose-photos label.error, #choose-menu label.error {
	margin: 0
}

#timetable label, #delivery-zones div>span {
	display: block;
	margin-bottom: 20px
}
#timetable input[type=checkbox] {
	margin: 0 20px 0 0;
	vertical-align: middle
}

#restaurant-join-body div.time {
	margin-bottom: 7px
}
#restaurant-join-body div.time>span:not(.select2) {
	display: inline-block;
	font-weight: normal;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	width: 80px
}
#restaurant-join-body div.time>div.left {
	margin: 0 5px;
	position: relative;
	vertical-align: middle;
	width: -webkit-calc((100% - 155px) / 2) !important;
	width: calc((100% - 155px) / 2) !important
}
#restaurant-join-body div.time>a {
	background: #f00;
	border-radius: 23px;
	color: #fff;
	display: inline-block;
	font-size: 26.8px;
	font-weight: bold;
	height: 45px;
	line-height: 46px;
	margin-left: 6px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 45px;
}

#delivery-zones {
	display: none;
	height: 0;
	margin-bottom: 24px !important;
	overflow: hidden
}
#delivery-zones div>span, #delivery-zones>a {
	color: #ea0000;
	font-weight: normal;
	width: 100% !important;
}
#delivery-zones>a {
	display: block;
	text-align: right
}

#restaurant-join-body .rounded-element {
	display: block;
	padding-left: 28px;
	text-align: left;
	width: -webkit-calc(100% - 28px);
	width: calc(100% - 28px)
}
#restaurant-join-body .rounded-element .arrow-right {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAALCAYAAABcUvyWAAAAVUlEQVR42mP4xcBgDMRpDOgAKFgOxP8xJIECLlAJEC5HlwwF4ndQyZnokiC77kIlO9AlBWE60SVmQnWcQVZ5BiYI4oMElTAE0fyBEIRKpEHNFkS2DwBsmj75yZU6MwAAAABJRU5ErkJggg==');
	display: block;
	height: 11px;
	position: absolute;
	right: 22px;
	top: 18px;
	width: 6px
}

#restaurant-join-body div.files-list {
	padding-left: 15px
}
#restaurant-join-body div.files-list strong {
	color: #585a58;
	display: block;
	font-size: 12px;
	margin-top: 5px
}
#choose-photos input[type=file], #choose-menu input[type=file] {
	display: none
}

#choose-photos>div, #choose-menu>div {
	margin-top: 15px !important
}


#restaurant-join-body h1 {
	font-size: 36px;
	font-weight: normal;
	margin: 30px 0;
	text-align: center
}

#restaurant-join-body div.center, #restaurant-join-body input[type=submit] {
	margin: 0 auto;
	width: 625px
}

#restaurant-join-body input[type=submit] {
	cursor: pointer;
	margin-top: 10px
}

#main-private-menu a:hover,
#main-private-menu a.selected {
	color: #449992;
}

#main-private-menu a {
	color: #000000;
}

.intl-tel-input {
	width: 100%;
	margin-bottom: 7px;
}

.intl-tel-input .selected-flag { outline: none; }

.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
	background-color: transparent !important;
}

input[name=phone] {
	width: 100%;
	box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
	#restaurant-join-body {
		padding-left: 25px;
		padding-right: 25px
	}
	#restaurant-join-body .main-content {
		max-width: 100%
	}
}

@media only screen and (max-width: 980px) {
	#restaurant-join-body ol>li.half, #restaurant-join-body ol>li>div.half {
		width: 100%
	}
	#restaurant-join-body ol>li>div.half.right {
		margin: 0
	}
	#cuisines-list span.select2.select2-container--default, 
	#restaurant-join-body div.center, #restaurant-join-body input[type=submit] {
		width: 100% !important
	}
	#restaurant-join-body div.time {
		position: relative
	}
}

@media only screen and (max-width: 768px) {
	#hero-image strong {
		padding-top: 30px;
		font-size: 34px;
		line-height: 36px;
	}
	
	#hero-image span {
		margin-top: 40px;
	}

	#restaurant-join-body {
		padding-bottom: 45px
	}
}

@media only screen and (max-width: 765px) {
	#hero-image span {
		font-size: 14px;
		line-height: 26px
	}
}

@media only screen and (max-width: 635px) {
	#hero-image {
		height: 208px
	}
	
	#hero-image span {
		display: none;
	}
	
	#hero-image strong {
		font-size: 24px;
		line-height: 26px;
	}
	
	#restaurant-join-body div.time>span:not(.select2), #restaurant-join-body div.time>div.left {
		width: -webkit-calc(33% - 25px) !important;
		width: calc(33% - 25px) !important
	}
}

@media only screen and (max-width: 355px) {
	#hero-image strong {
		font-size: 32px;
		line-height: 38px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 22px
	}
}
