
#tou-restaurants-body {
	background: #f4f4f4;
	padding: 28px 0 75px
}

#tou-restaurants-body h2, #tou-restaurants-body h3, #tou-restaurants-body h4, #tou-restaurants-body h5 {
	font-size: 36px;
	font-weight: normal
}
#tou-restaurants-body h2 {
	margin: 40px 0 45px
}

#tou-restaurants-body p {
	color: #585a58;
	letter-spacing: .15px;
	margin: 40px 0
}
#tou-restaurants-body p, #tou-restaurants-body li {
	line-height: 24px
}

#tou-restaurants-body h3 {
	margin: 110px 0 45px
}

#tou-restaurants-body h4 {
	margin: 60px 0 44px
}

#tou-restaurants-body ol {
	color: #585a58;
	letter-spacing: .3px;
	padding-left: 22px
}
#tou-restaurants-body ol strong {
	color: #000
}
#tou-restaurants-body ol ul li {
	margin: 8px 0
}
#tou-restaurants-body ol ul, #tou-restaurants-body ol p {
	margin: 12px 0 45px
}

#tou-restaurants-body h5 {
	margin: 100px 0 50px;
	white-space: nowrap
}



@media only screen and (max-width: 1024px) {
	#tou-restaurants-body {
		padding-left: 30px;
		padding-right: 30px
	}
	#tou-restaurants-body .main-content {
		max-width: 100%
	}
	#tou-restaurants-body h5 {
		margin-top: 125px
	}
}

@media only screen and (max-width: 840px) {
	#tou-restaurants-body h5 {
		margin-top: 85px;
		white-space: normal
	}
}

@media only screen and (max-width: 768px) {
	#hero-image strong {
		padding-top: 30px
	}
	
	#tou-restaurants-body {
		padding-bottom: 45px
	}
	#tou-restaurants-body h2, #tou-restaurants-body h3, #tou-restaurants-body h4, #tou-restaurants-body h5 {
		font-size: 32px
	}
	#tou-restaurants-body h4 {
		margin: 45px 0 30px
	}
}

@media only screen and (max-width: 765px) {
	#hero-image strong {
		font-size: 40px;
		line-height: 46px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 26px
	}
}

@media only screen and (max-width: 635px) {
	#hero-image {
		height: 208px
	}
	
	#tou-restaurants-body h2 {
		margin: 20px 0 30px
	}
	#tou-restaurants-body p {
		margin: 35px 0
	}
	#tou-restaurants-body h3 {
		margin: 100px 0 30px
	}
}

@media only screen and (max-width: 414px) {
	#hero-image strong {
		font-size: 36px;
		line-height: 42px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 24px
	}
	
	#tou-restaurants-body h2, #tou-restaurants-body h3, #tou-restaurants-body h4, #tou-restaurants-body h5 {
		font-size: 30px
	}
	#tou-restaurants-body h2 {
		margin: 15px 0 30px
	}
	#tou-restaurants-body p {
		letter-spacing: 0;
		margin: 20px 0
	}
	#tou-restaurants-body p, #tou-restaurants-body li {
		line-height: 20px
	}
	#tou-restaurants-body h3 {
		margin: 70px 0 10px
	}
	
	#tou-restaurants-body h4 {
		margin: 45px 0 25px
	}
	#tou-restaurants-body ol ul li {
		margin: 0
	}
	#tou-restaurants-body ol ul, #tou-restaurants-body ol p {
		margin: 5px 0 20px
	}
}

@media only screen and (max-width: 375px) {
	#hero-image strong {
		font-size: 32px;
		line-height: 38px;
	}
	#hero-image span {
		font-size: 14px;
		line-height: 22px
	}
	
	#tou-restaurants-body h2, #tou-restaurants-body h3, #tou-restaurants-body h4, #tou-restaurants-body h5 {
		font-size: 28px
	}
	#tou-restaurants-body h2 {
		margin: 10px 0 20px
	}
	#tou-restaurants-body p {
		margin: 15px 0
	}
	#tou-restaurants-body p, #tou-restaurants-body li {
		line-height: 18px
	}
	#tou-restaurants-body h3 {
		margin: 70px 0 10px
	}
	
	#tou-restaurants-body h4 {
		margin: 40px 0 20px
	}
}

@media only screen and (max-width: 320px) {
	#tou-restaurants-body h2, #tou-restaurants-body h3, #tou-restaurants-body h4, #tou-restaurants-body h5 {
		font-size: 26px
	}
	#tou-restaurants-body h2 {
		margin: 5px 0 20px
	}
	#tou-restaurants-body p {
		margin: 10px 0
	}
	#tou-restaurants-body h3 {
		margin: 55px 0 10px
	}
	
	#tou-restaurants-body h4 {
		margin: 25px 0 10px
	}
	#tou-restaurants-body h5 {
		margin: 40px 0 30px
	}
}
