/**
 * @author: Hanson
 * @desc: Restaurant Menu
 * 
 **/

@import "util/lesshat-prefixed.less";
@import "util/mixins.less";
@import "util/variables.less";

#about-us-body .team-members {
	& > div {
		margin-bottom: 30px;
	}
	&.row {
		margin-left: -15px;
		margin-right: -15px;
	}
	
	& > .col-3-12, & > .col-6-12, & > .col-12-12,
	& > .col-3-12t, & > .col-6-12t, & > .col-12-12t,
	& > .col-3-12m, & > .col-6-12m, & > .col-12-12m 
	{
		padding-left: 15px;
		padding-right: 15px;
	}

	.team-desc {
		padding: 30px;
		text-align: left;

		background-color: #f4f4f4;
		
		box-sizing: border-box;
		width: 100%;
		padding-top: -webkit-calc( ~'50% - 45px' );
		padding-top: calc( ~'50% - 45px' );
		
		position: relative;

		.desc {
			position: absolute;
			left: 30px; right: 30px;
			bottom: 30px;
			
			p { 
				margin-top: 20px;
				margin-bottom: 0;
			};
		}
	}

	.team-member {
		position: relative;

		.member-image {
			width: 100%;
			padding-top: 100%;

			background-repeat: no-repeat;
			background-size: cover;

			&:after {
				content: ' ';
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;

				background-color: rgba(255, 255, 255, 0);

				.lh-transition( background @ani-duration ease-in-out );
			}
		}

		.member-meta {
			position: absolute;
			top: 60%;
			left: 0;
			right: 0;

			.lh-transform( translateY(-50%) );
			.lh-transition( opacity @ani-duration ease-in-out );

			opacity: 0;

			.member-name {
				text-transform: uppercase;
				font-weight: bold;
				line-height: 2;
				font-size: 16px;

				.lh-transition( margin @ani-duration*2 ease-in-out );
				margin-top: 20px;
			}

			.member-title {
				color: #333;
				font-size: 14px;
			}

			ul.member-links {
				.lh-transition( margin @ani-duration*2 ease-in-out );
				margin-top: -40px;

				li {
					a {
						color: #333;
						.lh-transition( color @ani-duration ease-in-out );

						&:hover {
							color: #ff0000;
						}
					}

					padding: 15px 10px 0;
				}
			}
		}

		&:hover {
			.member-image:after {
				background-color: rgba(255, 255, 255, 0.7);
			}

			.member-meta {
				opacity: 1;

				.member-name,
				.member-title {
					margin-top: 0;
				}
				.member-links {
					margin-top: 20px;
				}
			}
		}
	}
	
	.team-member .member-meta .member-new {
		color: #999999;

		a { 
			color: #333;
			text-decoration: none;
			line-height: 1.4;
			display: block;

			margin-top: 15px;
			margin-bottom: 15px;

			text-transform: uppercase;
			font-size: 16px;
			font-weight: bold;

			.lh-transition( color @ani-duration ease-in-out );

			&:hover {
				color: #ff0000;
			}
		}
		
		i.fa:first-of-type {
			font-size: 20px;
		}
	}
}