/**
 * @author: Hanson
 * @desc: Home
 * 
 **/

@import "util/lesshat-prefixed.less";
@import "util/mixins.less";
@import "util/variables.less";

#hero-banner {
	height: 100vh;
}

#home-search-area {
    top: 50%;
    transform: translateY(-50%);
	height: auto;
	padding-top: 0;
}

a.slide-down {
	position: absolute !important;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    
    -webkit-animation: slight-bounce 3s linear infinite;
    animation: slight-bounce 3s linear infinite;
    
    width: 40px;
    height: 40px;
    text-align: center;
}

@keyframes slight-bounce {
	0% 		{ bottom: 20px; }
	33%		{ bottom: 10px; }
	67%		{ bottom: 10px; }
	100%	{ bottom: 20px; }
}

@-webkit-keyframes slight-bounce {
	0% 		{ bottom: 20px; }
	33%		{ bottom: 10px; }
	67%		{ bottom: 10px; }
	100%	{ bottom: 20px; }
}

#home-best-restaurants { 
	li > div {
		.lh-box-shadow( 0 2px 7px 2px rgba(0, 0, 0, 0.1) );
	}
}

#home-fb {
	& > .main-content > strong {
		font-family: "DidotLH";
		font-style: italic;
		
		font-size: 52px;
		@media ( max-width: 991px ) {
			font-size: 36px;
			margin-bottom: 15px;
		}
		
		@media ( max-width: 768px ) {
			font-size: 30px;
			margin-bottom: 15px;
		}
		
		line-height: 1.2;
		margin: 0 0 30px 0;
	}
}