/**
 * @author: Hanson
 * @desc: Restaurant Menu
 * 
 **/

@import "util/lesshat-prefixed.less";
@import "util/mixins.less";
@import "util/variables.less";

@bgcolor: #eeeeee;

header .main-content,
{
	max-width: initial;
	
	border-left: 0px;
	border-right: 0px;
	
	.responsive-container();
}

#restaurant-stats, 
#restaurant-categories-search,
#restaurant-main-menu,
#restaurant-content,
#menu-item-description {
	background: @bgcolor
}

#restaurant-details .details-panel {
	border-bottom: @bgcolor 10px solid;
}

.restaurant-menu-main-content {
	padding-right: 350px;
	background-color: @bgcolor;
	position: relative;
	padding-bottom: 60px;

	.main-content {
		width: 902px;
	}

	#restaurant-main-menu a {
		.lh-transition( color @ani-duration ease-in-out );
	}

	#restaurant-menu-list {
		li li>div {
			.lh-transition( background-color @ani-duration ease-in-out );
			overflow: hidden;
		}

		.category-name.toggle {
			&.open {
				background-position-y: 100%;
			}
			background-position-y: 0%;
		}
	}
}

#main-to-top,
#main-to-top.visible {
	right: ~'calc( ( 100% - 902px + 350px ) / 2 ) !important';
	margin-right: -30px;
}

form#menu-item-popup {
	#menu-item-details {
		a.close {
			position: absolute;
			z-index: 9;
			
			right: 15px; top: 8px;
			text-decoration: none;
			color: #ff0000;
			font-size: 32px;
		}

		#menu-item-description {
			background-color: #e2e2e2;
			
			p {
				color: #666666;
			}
		}

		#menu-item-actions {
			background-color: none;
		}

		#menu-item-options textarea {
			height: 80px;
			padding: 10px;
			border-radius: 20px;
		}

		#menu-item-options {
			border-bottom-right-radius: 8px;
			border-bottom-left-radius: 8px;
			
			position: relative;

			& > div {
				padding: 20px 30px;
				background-color: #d8e2e2;
				border-radius: 5px;

				margin-bottom: 40px;
			}

			ul {
				margin: 15px 0 20px;
			}

			span.ribbon {
				position: absolute;
				top: 25px;
				left: 26px;

				border-top: 12px solid #fbc500; 
				border-bottom: 12px solid #fbc500;

				border-left: 7px solid transparent;
				border-right: 7px solid #fbc500;
			}
		}
	}
}

footer {
	padding-right: 350px;
	background-color: @bgcolor;
	
	.main-content {
		width: 902px;
	}
}

#restaurant-reviews {
	div.main-content {
		position: relative;
		box-sizing: border-box;
		padding: 15px;
		
		background-color: white;
	}
	
	div.bg-container {
		background-color: #F5F6F6;
		padding: 30px;
		
		&.loading {
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;

				opacity: 0.7;
				background-color: #ffffff;
			}
		}
	}
	
	h2 {
		color: #ff0000;
		font-size: 22px;
		font-family: 'VAG Rounded', sans-serif;
		font-weight: normal;
		padding: 0;
		margin: 0 0 30px 0;
		text-transform: capitalize;
	}

	a.write-review {
		position: absolute; 
		right: 50px;
		top: 50px;
		text-decoration: none;
		color: #449992;
		.lh-transition( color @ani-duration ease-in-out );
		&:hover { color: #ff0000; } 
	}

	div[itemprop=review] {
		margin-bottom: 40px;

		.user-avatar {
			float: left;
			width: 105px; height: 105px;

			.lh-border-radius( 50% );

			margin-right: 25px;

			background-color: #ff0000;
			line-height: 105px;

			text-align: center;
			text-transform: uppercase;
			font-size: 28px;
			color: #ffffff;
			text-shadow: 1px 1px 0px #999999;
		}

		.review-desc {
			margin-left: 180px;
			position: relative;

			line-height: 2;

			div[itemprop=reviewRating] {
				font-weight: bold;
				text-transform: capitalize;
			}

			div[itemprop=description] {
				color: #666666;
				line-height: 1.6;
			}

			div.last-order {
				color: #666666;
				font-style: italic;
				font-size: 12px;

				margin-top: 10px;
			}

			.star-rating {
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}

	ul.review-pagination {
		margin: 0; padding: 0;
		margin-top: 15px;
		list-style-type: none;
		text-align: right;

		li {
			display:  inline-block;

			a, span {
				display: block;
				width: 30px;
				height: 30px;

				text-align: center;
				line-height: 30px;

				border: 1px solid #aaaaaa;
				background-color: #ffffff;
				color: #449992;

				text-decoration: none;
			}

			a:hover {
				background-color: #fafafa;
			}

			span {
				border-color: transparent;
				background-color: transparent;
				font-weight: bold;
			}
		}
	}
}

.yes-no input[type=radio] {
	background-color: #c0dad8;
	text-align: center;

	height: 50px;
	line-height: 50px;

	width: 33.333%;
	display: inline-block;

	padding: 0;
	margin: 0;

	-webkit-appearance: none;
	appearance: none;

	outline: none;

	border-radius: 25px;
	cursor: pointer;

	color: #fff;
}

#write-review-modal {
	width: 600px;
	top: 50% !important;
	left: 50% !important;

	.lh-transform( translateY(-50%) translateX(-50%) );

	a {
		color: #449992;
		&:hover {
			color: #ff0000;
		}
	}

	.desc {
		text-align: center;
		margin-bottom: 30px;
	}

	.answer {
		text-align: center;
	}

	.skip {
		text-align: center;
		margin-top: 20px;
	}

	.slider-4 {
		.desc,
		.answer {
			text-align: left;
		}

		p {
			margin-top: 15px;
			margin-bottom: 5px;
		}

		textarea {
			width: 100%;
			height: 90px;
			box-sizing: border-box;
			border-radius: 25px;

			padding: 15px 20px;

			outline: none;

			-webkit-appearance: none;
			appearance: none;
		}

		.submit-review {
			width: 100%;
		}
	}
}

.yes-no input[type=radio]:after {
	content: attr(value);
}

.yes-no input[type=radio]:checked {
	background-color: #449992;
}


#favorite a.disabled {
	position: relative;
	pointer-events: none;
	&:after {
		position: absolute;
		content: '';
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: white;
		opacity: 0.7
	}
} 
@media ( min-width: 992px ) {
	#shopping-cart-container {
		right: 0px !important;
	}
}

@media ( max-width: 1350px ) {
	#main-to-top, #main-to-top.visible {
		right: 400px !important;
	}
}

@media ( max-width: 1270px ) {
	.restaurant-menu-main-content {
		.main-content {
			width: 100%;
		}
	}
	
	.restaurant-menu-main-content {
		padding-bottom: 0;
	}
	
	footer {
		.main-content {
			width: 100%;
		}
	}
}

@media ( max-width: 991px ) {
	#body > footer,
	.restaurant-menu-main-content {
		padding-right: 0;
	}

	#main-slogan {
    	display: none;
    }
    
    #main-to-top, #main-to-top.visible {
		right: 60px !important;
	}
	
	body {
		overflow-x: hidden !important;
		width: 100%;
	}
}

@media ( max-width: 768px ) {
	#restaurant-menu-list li li {
		width: 100%;
		
		&.menu-placeholder {
			display: none;
		}
	}

	#menu-item-options li {
		width: 100%;
	}

	#restaurant-menu-list {
		background: #fff;
		padding: 6px 0px 26px !important
	}
	
	#restaurant-reviews div[itemprop=review] .review-desc {
		margin-left: 140px;
	}
	
	#restaurant-reviews div.main-content {
		padding-left: 0;
		padding-right: 0;
	}
}

@media ( max-width: 550px ) {
	#restaurant-reviews div[itemprop=review] .user-avatar {
		display: none;
	}
	
	#restaurant-reviews div[itemprop=review] .review-desc {
		margin-left: 0px;
	}
	
	#restaurant-reviews div[itemprop=review] .review-desc .star-rating {
		position: relative;
		
	}
}