/**
 * @author: Hanson
 * @desc: Restaurant List
 * 
 **/

@import "util/lesshat-prefixed.less";
@import "util/mixins.less";
@import "util/variables.less";

#list-search-form {
	background-color: @breadcrumb-background-color;
	
	margin-top: -75px;
	padding-top: 75px;

	.lh-transition( height @ani-duration ease-in-out );

	& > div.main-content {
		padding: 28px 0 42px 0;
		border: 0;

		.search-form {
			display: inline-block;
			max-width: 622px;
			width: 100%;

			.search-form-type {
				width: 250px;
				display: inline-block;
			}

			.h-drop-down-type .h-drop-down-visible {
				background-color: @breadcrumb-background-color;
			}

			.form-control-group {
				margin-bottom: 4px;
			}

			.h-drop-down-time_m,
			.h-drop-down-date_m {
				margin-bottom: 5px;
			}
			
			#find-mobile {
				width: 100%;
				cursor: pointer;
			}
		}

		input[name=location] {
			text-align: center;
		}
	}
}

#results-list {
	li {
		border: none;
		background-image: none;
		background-color: @list-background-color;

		.lh-transition( background-color @ani-duration ease-in-out );

		margin-bottom: 8px;

		&:hover {
			background-image: none;
			background-color: @list-background-hover-color;
		}
	}

	div.description {
		line-height: 1.5;
	}
}

#restaurants-map {
	margin: 0px;
}

#list-body {
	& > div.main-content {
		padding: 0;
	}

	#list-filter-form {
		background: none;
		margin: 0;
		height: initial;
		width: initial;
		position: initial;
		overflow: initial;

		.clearfix();

		border-top: 0;

		& > div {
			border: 0;
		}

		span.filter-caption {
			border-top: #e2e2e2 2px solid;
		    color: #999;
		    display: block;
		    font-family: 'VAG Rounded', sans-serif;

		    font-size: 18px;
		    margin-top: 25px;

		    padding-top: 18px;
		    padding-bottom: 16px;

		    position: relative;
		    text-transform: none;

		    & > a {
		    	float: right;
		    	color: @main-green;
		    	font-size: 12px;
		    	font-weight: light;
		    	line-height: 25px;
		    }
		}

		ul > li {
			& > label {
				margin-top: 0;
				margin-bottom: 0px;
				color: #333;
				
				span {
					border-top: initial;

				    display: inline-block;

				    font-family: initial;
				    font-size: initial;
				    margin-top: initial;
				    padding-top: initial;
				    position: initial;
				    text-transform: initial;
    			}
			}
		}

		#see-advanced-orders {
			color: @main-green;
		}

		.price-range span.selected {
			color: @darker-green;
		}

	}

	.left-sidebar {
		width: 180px;
		padding-right: 34px;
		border-right: 1px solid @border-color-vertical;
		
		&.following {
			top: 75px;
			position: fixed;
			
			&:not(.end) {
				bottom: 0;
    			overflow-y: scroll;
			}

			&.end {
				position: absolute;
				bottom: 0;
				top: initial;
			}
		}
	}

	.right-contents {
		padding-top: 24px;
		padding-left: 35px;
		.lh-calc( width, ~'100% - 250px' );

		#results-list {
			width: 100%;
			
			border-top: none;

			.rounded-red-button,
			.rounded-green-button {
				color: #fff;
				font-size: 14px;
				font-family: "VAG Rounded";
				font-weight: bold;
				
				background: none;
			}

			.rounded-red-button {
				background-color: #ec0000;
			}

			.rounded-green-button {
				background-color: #d4d4d4;
			}
		}
		
		.more-filters {
			margin-bottom: 15px;
			
			i.fa-chevron-down {
				font-size: 10px;
			}
			.h-drop-down .h-drop-down-visible > span {
				font-size: 10px;
			}
		}

		h5 {
			margin-top: 10px;
			padding: 0;
			line-height: 1.4;
			
		}

		p.recommend-restaurant {
			
		}
		
		#recommend-restaurant {
			padding: 0;
		}
		
		#venezvite-cities {
			margin: 0 ;
			padding: 0 ;
			
			margin-top: 15px;
			/* height: 420px; */
			background-color: #ffffff;
			
			position: relative;
			
			ul a {
				font-size: 16px;
				display: inline-block;
			}

			ul {

				li {
					padding: 15px;
					display: block;
					
					border-bottom: 1px solid @border-color-horizontal;
				}
			}
		}
		
		div.col-3-12t input {
			margin-bottom: 5px;
		}
		
		div.col-3-12t .rounded-red-button {
			width: 100%;
			cursor: pointer;
		}
	}
}

.more-filters {
	.h-drop-down-time,
	.h-drop-down-date,
	.h-drop-down-sort {
		.h-drop-down-visible {
			.lh-box-shadow( 0 0 1px #999 );
		}
		
		ul.h-drop-down-list {
			.lh-box-shadow( 0 0 1px #999 );
		}
		
	}
}

.form-control-group {
	position: relative;
	i.fa {
		position: absolute; 
		left: 20px;
		line-height: 50px;
		
		font-size: 18px;
		color: #ff0000;
	}
	
	input {
		box-sizing: border-box; 
		padding-left: 50px;
		padding-right: 50px;
		width: 100%;
	}	
}

.main-content,
#main-content #list-body > .main-content {
	max-width: initial;
	
	border-left: 0px;
	border-right: 0px;
	
	.responsive-container();
}

footer > .main-content {
	max-width: 972px;
}

/* google location suggestion re positioning */
.pac-container {
	left: 50% !important;
	.lh-transform( translateX(-50%) );
}

#mobile-filters {
	@media ( min-width: 992px ) {
		display: none;
	}
	top: 100%;
	left: 0%;
	right: 0%;
	bottom: -100%;

	position: fixed;
	z-index: 3;

	.lh-transition( top @ani-duration, bottom @ani-duration );

	&.visible {
		position: fixed;
		top: 0%;
		bottom: 0%;
	}

	div.slide {
		background-color: #fff;
		position: absolute;
		top: 75px;
		bottom: 0%;
		left: 0%;
		right: 0%;

		.lh-transition( left @ani-duration ease-in-out, right @ani-duration ease-in-out );

		div.headers	{
			background-color: @breadcrumb-background-color;
			padding: 15px;

			a.big-white-button {
				color: @main-green;
				border: 2px solid @main-green;

				height: 50px;
				line-height: 50px;
				.lh-border-radius( 50px );
			}

			.rounded-input {
				margin-bottom: 5px;
			}
		}

		.filters {
			padding: 15px 15px;

			overflow-y: auto;
			overflow-x: hidden;

			position: absolute;

			bottom: 60px;
			top: 84px;
			left: 0;
			right: 0;

			& > div {
				margin-bottom: 5px;
			}

			.h-drop-down-visible {
				.lh-box-shadow( 0 0 1px #999999 );
			}

			ul.h-drop-down-list {
				.lh-box-shadow( 0 0 1px #999999 );
			}

			.filter-caption {
				font-size: 18px;
				color: #ff0000;
				font-family: "VAG Rounded";
				font-weight: light;

				margin-top: 20px;
				margin-bottom: 10px;
			}
		}

		ul.filters {
			top: 139px;
			padding: 0;
			margin: 0;
			li {
				line-height: 56px;
				height: 56px;
				border-top: 1px solid #d7d6d6;

				.lh-transition( background-color @ani-duration ease-in-out );

				padding-left: 30px;
				padding-right: 30px;

				&:hover {
					background-color: @list-background-hover-color;
				}

				&:last-child {
					border-bottom: 1px solid #d7d6d6;
				}

				display: block;
				position: relative;
				cursor: pointer;

				&.selected {
					background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAANCAYAAADmDU2OAAAAlElEQVR42mNgIBO8lVHhAuI9QPyAYagDqGf2AfF/IN411D3DD8SHoZ4BeYprqHvmJNQzO4aTZzYBMduoZ+jkWA0gFh82MQN04HcgfgLEKsMimQEd2Qp1MIqngGxRID43JPMM0LEdUIc/B2JdqGcuQ8VWD8kCAOjoBqgHXgPxVSh7KRAzD+XSrALqkaHvGTRPDVnPAABhi4GAURiz6gAAAABJRU5ErkJggg==');
					background-repeat: no-repeat;
    				background-position: 100% center;

    				color: #ff0000;
				}
			}
		}

		div.commands {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 60px;

			.half-button {
				width: 50%;
				float: left;
				display: block;
				text-align: center;
				background-color: #f5f5f5;
				color: #999999;
				text-decoration: none;
				font-size: 16px;
				line-height: 60px;

				&.action {
					background-color: #e00000;
					color: #ffffff;
				}
			}
		}

		a.cuisines {
			background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAaCAYAAACHD21cAAAA1ElEQVR42mNgIBL8Z2DQA2JVZIETQMwBxN1A7ArErUAcCMQOQDwNSZ0BEC9A1vgfiAWAeAMQJ0DpAij7AJrGv0AsQ45GkNoV5Gr8QY7GP1D1AaRq/AFVv5VUjd+h6p+DBP4B8Qcg/gXE94D4LRB/A+KvQHwXh8ZfIIF0IG6Hxt9HkGIoH4Rd0TR+g2r8j546QDZfwJFyKNL4FarxH7kaP5Kr8TSpGn9DNWaQYyMoulhJ1fgZiMuxSRLSCIpnTnI0fsBVPIxqpIXGi0C8HoecGBDPgvEBQHUtByH8+NoAAAAASUVORK5CYII=') no-repeat 28px center;
			height: 48px;
			line-height: 48px;

			display: block;
			text-decoration: none;
			border: 1px solid #d4d4d4;

			.lh-border-radius( 25px );
			color: #ff0000;
			text-align: center;
			text-transform: uppercase;
			font-size: 10px;
			font-weight: bold;
			text-decoration: none;
			color: #444;

			i.fa {
				position: absolute;
				right: 40px;
				line-height: 50px;

				color: #ff0000;
			}
		}
	}

	div.slide-2 {
		left: 100%;
		right: -100%;
	}

	&.second-slide {
		div.slide-1 {
			left: -100%;
			right: 0%;
		}

		div.slide-2 {
			left: 0%;
			right: 0%;
		}
	}
}

#map-container {
	max-height: 420px;
	height: 0;
	overflow: hidden;
}

/* responsive */
@media ( max-width: 991px ) {
	#list-body { 
		.left-sidebar {
			display: none;
		}
		
		.right-contents {
			width: 100%;
			float: none;
			padding-left: 0;
			
			.more-filters {
				.col-2-5t, .col-1-5t {
					margin-bottom: 10px;
				}
			}
		}
	}
	
	#list-body #view-map {
		text-align: center;
	}
}

@media ( max-width: 768px ) {
	#list-body { 
		.right-contents {
			#results-list {
				ul > li {
					padding: 15px 20px 15px 0;
					height: 130px;

					.description {
						a.rounded-green-button,
						a.rounded-red-button {
							display: none;
						}

						a.red-arrow {
							display: block;
						}

						.left {
							float: none;
							width: 100%;

							margin: 0;
							padding: 0;

							&:first-of-type {
								border-right: 0;
								padding-left: 0;
							} 
						}
					}
					
					h3 {
						margin-left: 100px;
					}
					.description {
						margin-left: 100px;
					}
					
					div.thumb {
						height: 160px;
						width: 80px;
    					margin: -15px 19px 0 0;
    					
    					img {
    						height: 160px;
    						width: 80px;
    					}
    					
    					span.closed {
    						width: 70px;
    						height: 110px;
    						padding-top: 50px;
    					}
					}
					.clearfix();
					
				}
			}
		}
	}

	#list-search-form {
		padding-left: 15px;
		padding-right: 15px;
		width: -webkit-calc( ~'100% - 30px' );
		width: calc( ~'100% - 30px' );

		&>div.main-content {
			padding: 20px 0 20px 0;
		}

		&.visible {
			height: 310px;
			/* .lh-box-shadow( 0, 1px, 5px 1px rgba(0,0,0,0.5) ); */
		}

		.search-form search-form-type,
		input[name=location],
		.search-form > div {
			width: 100% !important;
		}

		margin-top: 0px;
		padding-top: 0px;
	}

	.more-filters {
		.col-1-5t {
			display: none;
		}
	}
	
	#results-list .list-delivery-hours {
		display: none;
	}
	
	.visible-mobile i.fa-chevron-down {
		font-size: 10px;
	}
	.visible-mobile .h-drop-down .h-drop-down-visible > span {
		font-size: 10px;
	}
}