/**
 * @author: Hanson
 * @desc: Classes used for general purpose
 * 
 **/

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@media ( min-width: 769px ) {
		width: 750px;
	}

	@media ( min-width: 992px ) {
		width: 970px;
	}

	@media ( min-width: 1200px ) {
		width: 1170px; 
	}
	
	.clearfix();
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

input[type=text],
input[type=search],
input[type=number],
input[type=password],
textarea,
span.select2-selection,
.h-drop-down .h-drop-down-visible {
	&:focus {
		border: 1px solid #0071b0 !important;
	}
}
/* hero image */
#hero-banner,
#hero-image {
	position: relative;
	margin-top: -75px;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		content: '';

		background-color: black;
		opacity: 0.35
	}

	& > * {
		position: relative;
		z-index: 1;
	}
}
/* -- */

/* select2-emulation */
.h-drop-down {
	width: 100%;
	position: relative;
	cursor: pointer;

	.h-drop-down-visible {
		height: 50px;
		.lh-border-radius( 25px );
		background-color: #fff;

		.lh-box-shadow( 0 0 1px @border-color-horizontal ); 

	    overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;

    	color: #444;
    	
    	padding: 0 40px;

    	font-weight: bold;
    	text-transform: uppercase;

		& > span {
			line-height: 50px;
			
			font-size: 14px;
		}

		.icon-head {
			position: absolute;
			left: 25px;
			color: #ddd;
		}

		.icon-tail {
			position: absolute;
			right: 25px;
			color: #ff0000;
		}

		span.label {
			
		}
		
		&.toggle {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}
	}
	
	ul.h-drop-down-list {
		display: block;
		
		overflow-y: auto;
		
		max-height: 300px;

		height: 0px;

		&.toggle {
			height: initial;
		}

		list-style-type: none;
		padding-left: 0;
		width: 100%;

		position: absolute;
		z-index: 20;
		top: 100%;

		margin-top: 0;

		background-color: #fff;

		.lh-box-shadow( 0 0 1px @border-color-horizontal );

		& > li {
			padding: 10px 20px;
			text-align: center;

			&:hover, 
			&.active {
				background-color: #f0f0f0;
			}

			margin-top: 0;
			
			a { 
				color: #444;
				text-decoration: none;
			}
		}
	}
}

/* end of select2-emul */

/* buttons */
.rounded-red-button {
	&:hover {
		background-color: #f42420;
	}
}

/* footer social icons for fontawesome instead of images */
#footer-payment-social li {
	text-align: center;
	
	& > a {
		background: none;
		font-size: 20px;
		
	}
}

#body > footer #footer-payment-social li {
	& > a {
		color: @footer-social-color;
		.lh-transition( color, @ani-duration, ease-in-out );

		&:hover {
			color: @footer-social-color + 111;
		}
	}
}

.hidden {
	display: none;
}
.visible {
	display: block;
}

@media ( max-width: 991px ) {
	.hidden-tablet {
		display: none;
	}
	.visible-tablet {
		display: block;
	}
}

@media ( max-width: 768px ) {
	.hidden-mobile {
		display: none;
	}
	.visible-mobile {
		display: block;
	}
}


/* grid system */

.row {
	margin-left: -7.5px;
	margin-right: -7.5px;
	.clearfix();
	
	box-sizing: border-box;
	
	.col-1-5, .col-2-5, .col-3-5, .col-4-5, .col-5-5,
	.col-1-5t, .col-2-5t, .col-3-5t, .col-4-5t, .col-5-5t,
	.col-1-5m, .col-2-5m, .col-3-5m, .col-4-5m, .col-5-5m
	{
		padding: 0 7.5px;
		float: left;
		box-sizing: border-box;

		width: 100%;
	}
	
	.col-1-12, .col-2-12, .col-3-12, .col-4-12, .col-5-12, .col-6-12, .col-7-12, .col-8-12, .col-9-12, .col-10-12, .col-11-12, .col-12-12,
	.col-1-12m, .col-2-12m, .col-3-12m, .col-4-12m, .col-5-12m, .col-6-12m, .col-7-12m, .col-8-12m, .col-9-12m, .col-10-12m, .col-11-12m, .col-12-12m,
	.col-1-12t, .col-2-12t, .col-3-12t, .col-4-12t, .col-5-12t, .col-6-12t, .col-7-12t, .col-8-12t, .col-9-12t, .col-10-12t, .col-11-12t, .col-12-12t
	{
		padding: 0 7.5px;
		float: left;
		box-sizing: border-box;

		width: 100%;
	}

	.generate-columns( col, 5, m );
	.generate-columns( col, 12, m );

	@media ( min-width: 769px ) {
		.generate-columns( col, 5, t );
		.generate-columns( col, 12, t );
	}

	@media ( min-width: 992px ) {
		.generate-columns( col, 5 );
		.generate-columns( col, 12 );
	}
}

.generate-columns(@prefix, @n, @suffix: ~'',  @i: 1) when (@i =< @n) {
  .@{prefix}-@{i}-@{n}@{suffix} {
    width: (@i * 100% / @n);
  }
  .generate-columns(@prefix, @n, @suffix, (@i + 1));
}
