/**
 * @author: Hanson
 * @desc: Custom Mixins
 * 
 **/

.clearfix {
	&:after {
		display: table;
		content: '';
		clear: both;
		zoom: 1;
	}
}

.responsive-container() {
	width: 100%;

	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	
	box-sizing: border-box;

	@media ( min-width: 769px ) {
		width: 750px;
	}

	@media ( min-width: 992px ) {
		width: 970px;
	}

	@media ( min-width: 1200px ) {
		width: 1170px; 
	}
}