/**
 * @author: Hanson
 * @desc: General Variables
 * 
 **/

@main-green: #449992;
@darker-green: #11a3a9;

@breadcrumb-background-color: #d8e2e2;

@list-background-color: #f4f4f4;
@list-background-hover-color: #fffeee;

@border-color-vertical: #d0d0d0;
@border-color-horizontal: #e2e2e2; 

@footer-social-color: #ff0000;

@ani-duration: 0.2s;